<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/css/app.css}" href="/css/app.css" rel="stylesheet"/>
</head>
<body>
	<div th:switch="${departments}" class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2 th:case="null">No departments yet!</h2>
				<div th:case="*">
					<div class="row">
						<div class="col-6">
							<h2 class="">Departments  editado!</h2>
						</div>
						<div class="col-6">
							<a href="/department/create" class="btn btn-primary">
								<i class="fas fa-user-plus ml-2"></i>
							</a>
						</div>
					</div>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>#</th>
								<th>Department name</th>
								<th>Manager</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="depto : ${departments}">
								<td th:text="${depto.departmentId}"></td>
								<td th:text="${depto.departmentName}"></td>
								<td th:text="${depto?.manager?.firstName}"></td>
								<td><a
									th:href="@{/department/edit/{id}(id=${depto.departmentId})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a
									th:href="@{/department/delete/{id}(id=${depto.departmentId})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</body>
</html>