<template>
    <div class="col-3">
        <h1>{{mensaje}}</h1>
    </div>
</template>

<script>
    export default {
        name: "ColumnaComponent",
        data() {
            return {mensaje: "columna"}
        }
    }
</script>

<style scoped>

</style>