<template>
    <div class="row">
    	<div class="col-3">
			<h2 class="titulo">Tareas</h2>
			<vue-dragable class="dragArea" :list="list1" :options="{group:'people'}" @change="log">
    			<div v-for="(element, index) in list1"  >
        			{{element.name}} {{index}} <i class="fa fa-edit"></i>
        		</div>
        	</vue-dragable>
        </div>
        <div class="col-3">
        	<h2 class="titulo">Por hacer</h2>
        	<vue-dragable class="dragArea" :list="list2" :options="{group:'people'}" @change="log">
        		<div v-for="(element, index) in list2" :key="index">{{element.name}}</div>
        	</vue-dragable>
        </div>
        <div class="col-3">
    		<h2>Haciendo</h2>
    		<vue-dragable class="dragArea" :list="list3" :options="{group:'people'}" @change="log">
        		<div v-for="(element, index) in list3" :key="index">{{element.name}}</div>
        	</vue-dragable>
        </div>
        <div class="col-3">
        	<h2>Cerradas</h2>
        	<vue-dragable class="dragArea" :list="list4" :options="{group:'people'}" @change="log">
            	<div v-for="(element, index) in list4" :key="index">{{element.name}}</div>
            </vue-dragable>
        </div>
    </div>
</template>

<script>
    import vueDragable from 'vuedraggable';

    export default {
        components: {
            vueDragable
        },
        name: "DragDrop",
        data(){
            return {
                options:{},
                list1:[
                    {name:"Tarea 1 ", id:1},
                    {name:"Tarea 2", id:2},
                    {name:"Tarea 3", id:3},
                    {name:"Tarea 4", id:4}
                ],
                list2:[
                    {name:"Tarea 5", id:5},
                    {name:"Tarea 6", id:6},
                    {name:"Tarea 7", id:7}
                ],
                list3:[
                	{name:"Tarea 8", id:8}
                ],
                list4:[
                	{name:"Tarea 9", id:9}
                ]
            }
        },
        methods: {
            add(){
                this.list1.push({name: `Tarea ${Math.floor((Math.random() * 100) + 50)}`})
            },
            log(evt){
                console.log(evt)
            }
        }
    }
</script>

<style scoped>

</style>