<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns="http://www.w3.org/1999/html">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="Dauun Said" />
<title>RECEPCIÓN CFDI</title>

<link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"
	rel="stylesheet" />
	
</head>
<body>
	<div th:fragment="navbar">
		<!-- Static navbar -->
		<nav class="navbar navbar-static-top navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"> <img
						th:src="@{/img/logo.svg}" src="/img/logo.svg" alt=""
						class="img-responsive logo-ct" width="140px">
					</a>
					<h2 class="titulo">RECEPCIÓN CFDI</h2>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li th:class="${automatico}"><a th:href="@{/todas}"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Vinculadas</span></a></li>
						<li th:class="${manual}"><a href="./"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Vinculación manual</span>
						</a></li>
						<li th:class="${reporte}"><a th:href="@{/reporte}"><i class="fa fa-list-alt" aria-hidden="true"></i> Reporte</span></a></li>
						<li th:class="${config}"><a th:href="@{/configuracion}"><i class="fa fa-cogs" aria-hidden="true"></i> Configuración</span></a></li>
						<li class="dropdown ct-chapur"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false" th:inline="text">[[${#httpServletRequest.remoteUser}]]
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/logout}">Cerrar sesión</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<section th:fragment="body-footer" id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div
					class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>
						&copy; Copyright <span
							th:text="${#dates.year(#dates.createNow())}"></span> - <strong>
							Chapur TI-Desarrollo de Sistemas</strong>
					</p>
					<p>
						<strong>Facturación <span
							th:text="${@environment.getProperty('version')}"></span></strong>, última
						revisión <span
							th:text="${@environment.getProperty('fecha_revision')}"></span>
					</p>
				</div>
				<hr />
			</div>
		</div>
	</section>

	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/plugins/jquery.min.js}"
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<script th:src="@{/js/plugins/bootstrap.min.js}"
			src="/js/bootstrap.min.js"></script>
		<script th:src="@{/js/plugins/moment.js}" src="/js/moment.js"></script>

		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"
			src="/js/bootstrap-datepicker.min.js"></script>
		<script
			th:src="@{/js/plugins/localization/bootstrap-datepicker.es.min.js}"
			src="/js/localization/bootstrap-datepicker.es.min.js"></script>

		<script th:src="@{/js/plugins/jquery.form.min.js}"
			src="/js/jquery.form.min.js"></script>
		<script th:src="@{/js/plugins/sweetalert.min.js}"
			src="/js/sweetalert.min.js"></script>

		<script th:src="@{/js/plugins/jquery.dataTables.min.js}"
			src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script th:src="@{/js/plugins/dataTables.responsive.js}"
			src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.js"></script>

		<script
			src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>



		<script th:src="@{/js/plugins/jquery.validate.min.js}"
			src="/js/jquery.validate.min.js"></script>
		<script
			th:src="@{/js/plugins/jquery-validate.bootstrap-tooltip.min.js}"
			src="/js/jquery-validate.bootstrap-tooltip.min.js"></script>
		<script th:src="@{/js/plugins/localization/messages_es.js}"
			src="/js/localization/messages_es.js"></script>

		<script
			src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

		<script th:src="@{/js/bootbox.min.js}" src="/js/bootbox.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>
		<script th:src="@{/js/configCTWEB.js}" src="/js/configCTWEB.js"></script>
		<script th:src="@{/js/main.js}" src="/js/main.js"></script>
		<script th:src="@{/js/individual.js}" src="/js/individual.js"></script>
	</div>
</body>
</html>