<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="t_login-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Dauun Said"/>
    <title>RECEPCIÓN CFDI</title>
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-extras-margins-padding.css}" href="/css/bootstrap-extras-margins-padding.css" rel="stylesheet"/>
</head>
<body>
</body>
</html>